@charset "UTF-8";
/* Collapse */
.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
}
.collapsible:after {
  content: "+";
  color: white;
  font-weight: bold;
  margin-left: 5px;
}
.collapsible.active:after {
  content: "−";
}

.filter-detail {
  position: absolute;
  z-index: 20;
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  user-select: none;
  border-color: #bbbbbb;
  border-image: initial;
  border-radius: 3px;
}

/* Input invalid */
.invalid {
  color: red !important;
}
.invalid.b-1r {
  border: 1px solid red !important;
}
.invalid .aba {
  color: red;
}

/* Checkbox */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 4% 0;
}
.checkbox-container li.absolute {
  position: absolute;
  top: 1%;
  right: 5%;
}
.checkbox-container.agree {
  padding: 6% 0;
}
.checkbox-container.form {
  justify-content: center;
}
.checkbox-container.form li {
  width: 30%;
}
.checkbox-container .checkbox-list {
  width: 22%;
  display: flex;
  margin: 0.25rem;
  letter-spacing: -0.05em;
}
.checkbox-container .check {
  display: none;
}
.checkbox-container .check:checked + label {
  color: #00adef;
  border: 1px solid #00adef;
}
.checkbox-container .check + label {
  padding: 0.5rem 0.25rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* Scroll Bar */
/* Slider */
.custom-slider {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00adef;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00adef;
  cursor: pointer;
}

datalist {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
}

datalist option {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 0;
  background: #D3D3D3;
}

/**
    Size of `detail-container` per number of filters
 */
.detail-container.offer-type {
  width: 300px;
  height: 250px;
}
.detail-container.deal {
  width: 200px;
  height: 150px;
}
.detail-container.all {
  width: 990px;
  height: auto;
  display: inline-block;
  position: relative;
}
.detail-container .detail-wrap {
  padding: 1%;
  width: 31%;
  display: inline-block;
}

/**
    Filter-bar area
 */
.filter-bar {
  height: 60px;
  border-bottom: 1px solid lightblue;
}
.filter-bar .filter-group {
  display: flex;
  height: 100%;
  padding: 0px 30px;
}
.filter-bar .filter-group li {
  align-self: center;
}
.filter-bar .filter-group li a {
  position: relative;
  border-radius: 22px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  background: #00adef;
  padding: 12.5px 35px;
  margin-right: 8.5px;
}
.filter-bar .filter-group li a span {
  position: absolute;
  right: 15px;
  top: 15px;
}
.filter-bar .filter-group li a:hover, .filter-bar .filter-group li a.active {
  background: white;
  border: 1px solid #00adef;
  color: #00adef;
}
.filter-bar .filter-group li a:hover.collapsible:after, .filter-bar .filter-group li a.active.collapsible:after {
  background: white;
  color: #00adef;
}

/**
    Filter-detail common
 */
.filter-detail {
  color: black;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 18px -10px;
}
.filter-detail .detail-container {
  padding: 25px 35px 0px;
}
.filter-detail .detail-header {
  width: 100%;
  height: 70px;
  line-height: 30px;
}
.filter-detail .detail-header.h-half {
  height: 30px !important;
}
.filter-detail .detail-header .title {
  color: #00adef;
  font-size: 20px;
}
.filter-detail .detail-header .caption {
  color: darkgray;
  font-size: 14px;
  text-indent: 5px;
}
.filter-detail .detail-header .caption.slide {
  color: black;
  float: right;
}

/**
    Offer list area
 */
.offer-list {
  overflow-y: auto;
}

.list-header, .paginator {
  height: 49px;
  font-size: 19px;
  margin: 0px 30px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}
.list-header strong, .paginator strong {
  font-size: 22px;
  margin-left: 1%;
}

.list-container {
  width: 100%;
  display: inline-block;
  padding-top: 25px;
}
.list-container .list-item {
  width: 48%;
  display: list-item;
  position: relative;
  float: left;
  padding-left: 10px;
  margin-bottom: 20px;
  z-index: 1;
}
.list-container .list-item .offer-like img {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 50;
}

.offer {
  position: relative;
  color: black;
  cursor: pointer;
}
.offer label {
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: -0.05em;
  background-color: #00adef;
}
.offer label.r-float {
  float: right;
}
.offer:hover {
  background: lightblue;
  opacity: 0.7;
}
.offer p {
  font-size: 16px;
  font-weight: normal;
}
.offer .offer-thumbs > img {
  width: 100%;
  height: auto;
}
.offer .offer-deal {
  font-size: 18px;
  margin: 5px 0;
}
.offer .offer-summary,
.offer .offer-building .label-info {
  margin: 5px 0;
}

/* Paginator */
.paginator {
  text-align: center;
  display: block !important;
}
.paginator .page-wrap {
  display: inline-flex;
}
.paginator button {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  border-image: initial;
  border-radius: 50%;
}
.paginator button.disabled {
  cursor: not-allowed;
  opacity: 0.25;
}
.paginator button.disabled img {
  pointer-events: none;
}
.paginator button:hover {
  zoom: 1.05;
}
.paginator ul {
  display: contents;
}
.paginator ul > li {
  font-size: 1.05rem;
  width: 1.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
  text-align: center;
  color: #00adef;
}
.paginator ul > li:hover, .paginator ul > li.active {
  color: white;
  border-radius: 50%;
  zoom: 1.1;
}
.paginator ul > li:hover {
  background: #cccccc;
}
.paginator ul > li.active {
  background: #00adef;
}

#title,
#stitle {
  text-align: left !important;
}

#stitle {
  padding: 10px 15px;
  color: #00adef;
  display: inline-flex;
  background: #fff;
  font-size: 19px;
  font-weight: 500;
}

#name {
  width: 100%;
  padding: 0.5rem;
  text-align: left;
}

#count {
  color: white;
  display: inline-block;
  background: #00adef;
  border-radius: 11%;
  position: absolute;
  left: 97%;
  padding: 0.5rem;
}

.customoverlay {
  position: relative;
  border-radius: 6px;
  float: left;
}

.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
  display: block;
  text-decoration: none;
  border-radius: 6px;
  overflow: hidden;
}

.customoverlay #title {
  display: inline-flex;
  text-align: center;
  background: #fff;
  font-size: 17px;
  font-weight: bold;
}

.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 51%;
  bottom: -12px;
  width: 22px;
  height: 12px;
}

#stitle:hover {
  color: white;
  background: #00adef;
}

.inner.clickable #stitle {
  color: white;
  background: #00adef;
}
.inner.clickable #name {
  color: #00adef;
}
.inner.clickable #count {
  color: white;
}

#title:hover #name,
.inner.clickable #name {
  color: white;
  background: #00adef;
}
#title:hover #count,
.inner.clickable #count {
  color: #00adef;
  background: white;
}

#customSpot {
  width: 40px;
  height: 40px;
  opacity: 0.7;
  background: #00adef;
  border-radius: 50%;
  float: left;
  text-align: center;
  cursor: pointer;
}
#customSpot #spotCount {
  color: white;
  position: relative;
  font-size: 17px;
  font-weight: 800;
  top: 10px;
}

#customSpot:hover,
#customSpot.clickable {
  border: 2px solid white;
  color: white;
  opacity: 1;
  zoom: 1.2;
}

/* Input invalid */
.invalid {
  color: red !important;
}
.invalid.b-1r {
  border: 1px solid red !important;
}
.invalid .aba {
  color: red;
}

/* Checkbox */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 4% 0;
}
.checkbox-container li.absolute {
  position: absolute;
  top: 1%;
  right: 5%;
}
.checkbox-container.agree {
  padding: 6% 0;
}
.checkbox-container.form {
  justify-content: center;
}
.checkbox-container.form li {
  width: 30%;
}
.checkbox-container .checkbox-list {
  width: 22%;
  display: flex;
  margin: 0.25rem;
  letter-spacing: -0.05em;
}
.checkbox-container .check {
  display: none;
}
.checkbox-container .check:checked + label {
  color: #00adef;
  border: 1px solid #00adef;
}
.checkbox-container .check + label {
  padding: 0.5rem 0.25rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* Scroll Bar */
/**
    Map area
 */
.map-container {
  width: 100% !important;
  min-width: 1920px;
  height: calc(100% - 134px) !important;
  display: inline-flex;
}
.map-container .map {
  width: 70% !important;
  height: 100%;
  display: inline-block;
}
.map-container .map .search-bar {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 350px;
  z-index: 3;
  display: inline-flex;
}
.map-container .map .search-bar .search-btn {
  width: 50px;
  background: white;
  padding: 10px;
}
.map-container .map .search-bar .search-btn .search-icon {
  width: 30px;
}
.map-container .map .search-bar input {
  width: 100%;
  border: none;
  padding: 0 25px;
}
.map-container .offer-list {
  width: 30%;
  height: 100%;
  display: inline-block;
}

/* Search result area */
.search-result {
  position: absolute;
  top: 55px;
  left: -1px;
  width: 350px;
  height: auto;
  min-height: 200px;
  border: 1px solid lightblue;
  z-index: 1001;
  box-shadow: rgba(0, 0, 0, 0.06) 30px 1px 19px 0px, rgba(0, 0, 0, 0.12) 0px 20px 15px -12px;
  background-color: white;
}
.search-result .result-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 58px;
  border-bottom: 1px solid lightblue;
}
.search-result .result-header span {
  width: 100%;
  padding: 20px;
  font-size: 18px;
}
.search-result .result-header span i {
  color: inherit;
}

/* Search-bar */
.result ul::-webkit-scrollbar {
  width: 17.5px;
}
.result ul::-webkit-scrollbar-thumb {
  background-color: #00adef;
  border-radius: 12.5px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.result ul::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  border-radius: 12.5px;
  box-shadow: inset 0 0 5px white;
}
.result ul {
  width: 100%;
  height: 200px;
  overflow-y: auto;
}
.result li {
  padding: 3%;
}
.result li:hover {
  background: #00adef;
  color: white;
}

/*# sourceMappingURL=map.css.map */
