$abaColor: #00adef;

/* Input invalid */
.invalid {
  color: red !important;

  &.b-1r {
    border: 1px solid red !important;
  }

  .aba {
    color: red;
  }
}

/* Checkbox */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 4% 0;

  & li.absolute {
    position: absolute;
    top: 1%;
    right: 5%;
  }

  &.agree {
    padding: 6% 0;
  }

  &.form {
    justify-content: center;

    li {
      width: 30%;
    }
  }

  .checkbox-list {
    width: 22%;
    display: flex;
    margin: .25rem;
    letter-spacing: -.05em;
  }

  & .check {
    display: none;
  }

  & .check:checked + label {
    color: $abaColor;
    border: 1px solid $abaColor;
  }

  & .check + label {
    padding: .5rem .25rem;
    border: 1px solid #cbd5e0;
    border-radius: .5rem;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
}

/* Scroll Bar */
@mixin bg-radius($bgColor: #000, $radius: 0) {
  background-color: $bgColor;
  border-radius: $radius;
}

@mixin scroll-bar($class) {
  #{$class} {
    &::-webkit-scrollbar {
      width: 17.5px;
    }

    &::-webkit-scrollbar-thumb {
      @include bg-radius($abaColor, 12.5px);
      background-clip: padding-box;
      border: 2px solid transparent;
    }

    &::-webkit-scrollbar-track {
      @include bg-radius(#f3f3f3, 12.5px);
      box-shadow: inset 0 0 5px white;
    }
  }
}
