$abaColor: #00adef;
@import "custom";

@mixin hover_action() {
  background: #fff;
  border: 1px solid $abaColor;
  color: $abaColor;
}

@mixin form_button() {
  cursor: pointer;
  display: table;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  color: #fff;
  padding: 2.5% 0 2.5% 0;
  background-color: #00adef;
  border-radius: 8px;
}

.form-warp {
  margin-bottom: 3%;
}

.content-name,

.form-control {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
}

.content-wrap {
  width: 40%;
  margin: 0 auto;

  h3 {
    font-size: 27px;
  }

  & .content-name {
    padding-bottom: 3%;
    border-bottom: 3px solid #00adef;
  }

  .form-category {
    @extend .content-name;
    padding: 0;
    border: 0;
  }
}

.form-control {
  margin-top: 3%;

  .form-label {
    font-size: 18px;
    padding: 4%;

    &.mini {
      font-size: 15px;
      color: $abaColor;
      padding: 0;
    }
  }

  .error, button {
    margin: 2% 0;
  }

  .error {
    font-weight: normal;
    text-align: left;
    font-size: 15px;
    color: #5d3972;
    padding: 10px 10px;
    background-color: #ffd0d0;
    border-color: #ead6f5;
  }

  input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 1% 0 0 2%;
    margin: 1% 0;

    &::placeholder {
      color: gray;
    }

    &.middle {
      width: 50%;
    }

    &.short {
      width: 33.3%;
    }
  }

  .input-group {
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;

      &.none {
        width: 20px;
      }

      &.mail {
        width: 30px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: $abaColor;
        color: white;
      }

      &.short {
        margin: 0 2%;
      }

      &.addr {
        @extend .mail;
        width: 50px;
        cursor: pointer;

        &:hover {
          @include hover_action();
          i { zoom: 1.25; }
        }
      }
    }

    input {
      margin: 0;
    }

    display: flex;
    width: 100%;
    height: 40px;
    padding: 1% 0;
    margin: 1% 0;
  }
}

button[type="submit"] {
    @include form_button;
    font-size: 19px;
    width: 70%;

    &:hover {
      @include hover_action();
    }
}
