@charset "UTF-8";
/* Input invalid */
.invalid {
  color: red !important;
}
.invalid.b-1r {
  border: 1px solid red !important;
}
.invalid .aba {
  color: red;
}

.error-box {
  position: fixed;
  right: 18%;
}

/* Checkbox */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 4% 0;
}
.checkbox-container li.absolute {
  position: absolute;
  top: 1%;
  right: 5%;
}
.checkbox-container.agree {
  padding: 6% 0;
}
.checkbox-container.form {
  padding-left: 5%;
}
.checkbox-container.form li {
  width: 30%;
}
.checkbox-container.form li.half {
  width: 17%;
}
.checkbox-container .checkbox-list {
  width: 22%;
  display: flex;
  margin: 0.25rem;
  letter-spacing: -0.05em;
}
.checkbox-container .check {
  display: none;
}
.checkbox-container .check:checked + label {
  color: #00adef;
  border: 1px solid #00adef;
}
.checkbox-container .check + label {
  padding: 0.5rem 0.25rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* Scroll Bar */
/* Tier */
select {
  font-size: 1rem;
  border: 1px solid #ccc;
  padding: 1% 0 1% 1%;
}

.btn {
  padding: 1% !important;
}
.btn.lg {
  width: 50%;
}
.btn.sm {
  width: 15%;
}

.form-warp {
  margin-bottom: 3%;
}

.content-name, article[class=content-wrap] .form-category,
.form-control {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
}

article[class=content-wrap] {
  width: 40%;
  margin: 0 auto;
}
article[class=content-wrap] h3 {
  font-size: 27px;
}
article[class=content-wrap] .form-category.agree::-webkit-scrollbar {
  width: 17.5px;
}
article[class=content-wrap] .form-category.agree::-webkit-scrollbar-thumb {
  background-color: #00adef;
  border-radius: 12.5px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
article[class=content-wrap] .form-category.agree::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  border-radius: 12.5px;
  box-shadow: inset 0 0 5px white;
}
article[class=content-wrap] .form-category {
  padding: 0;
  border: 0;
}
article[class=content-wrap] .form-category.agree {
  width: 95%;
  height: 20%;
  padding: 2% 0;
  overflow-y: auto;
}

.form-control {
  margin-top: 3%;
  position: relative;
}
.form-control .form-label {
  color: gray;
  font-size: 18px;
  padding: 2%;
}
.form-control .form-label.before:before {
  content: "●";
  padding: 0 2%;
  color: #00adef;
}
.form-control .form-label.mini {
  font-size: 15px;
  color: #00adef;
  padding: 0;
}
.form-control .error, .form-control button {
  margin: 2% 0;
}
.form-control .error {
  font-weight: normal;
  text-align: left;
  font-size: 15px;
  color: #5d3972;
  padding: 10px 10px;
  margin: 0 15px;
  background-color: #ffd0d0;
  border-color: #ead6f5;
}
.form-control .error.agree {
  border-radius: 15px;
  font-size: 0.8rem;
}
.form-control input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 1% 0 0 2%;
  margin: 1% 0;
}
.form-control input::placeholder {
  color: gray;
}
.form-control input.large {
  width: 70%;
}
.form-control input.middle {
  width: 50%;
}
.form-control input.short {
  width: 33.3%;
}
.form-control .input-group {
  display: flex;
  height: 40px;
  padding: 1% 0;
  margin: 1% 0;
}
.form-control .input-group p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.form-control .input-group p.none {
  width: 20px;
}
.form-control .input-group p.mail, .form-control .input-group p.icon-with-check, .form-control .input-group p.icon {
  width: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #00adef;
  color: white;
}
.form-control .input-group p.short {
  margin: 0 2%;
}
.form-control .input-group p.icon {
  width: 50px;
  cursor: pointer;
}
.form-control .input-group p.icon:hover {
  background: #f3f3f3 !important;
  border: 0.1px solid #00adef;
  color: #00adef;
}
.form-control .input-group p.icon:hover i {
  zoom: 1.25;
}
.form-control .input-group p.icon-with-check {
  width: 50px;
  cursor: pointer;
}
.form-control .input-group input {
  margin: 0;
}

button[type=submit],
label.button {
  cursor: pointer;
  display: table;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  color: #fff;
  padding: 2.5% 0;
  background-color: #00adef;
  border-radius: 8px;
  font-size: 19px;
  width: 70%;
}
button[type=submit]:hover,
label.button:hover {
  background: #f3f3f3 !important;
  border: 0.1px solid #00adef;
  color: #00adef;
}

/*# sourceMappingURL=form.css.map */
