<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias alias="User" type="com.abacorp.aba.model.User"/>
		<typeAlias alias="Post" type="com.abacorp.aba.model.Post"/>
		<typeAlias alias="Overlay" type="com.abacorp.aba.model.Overlay"/>

		<typeAlias alias="Offer" type="com.abacorp.aba.model.Offer"/>
		<typeAlias alias="OfferAddress" type="com.abacorp.aba.model.OfferAddress"/>
		<typeAlias alias="OfferAddition" type="com.abacorp.aba.model.OfferAddition"/>

		<typeAlias alias="OfferRequest" type="com.abacorp.aba.model.OfferRequest" />

		<typeAlias alias="MapFiltersDto" type="com.abacorp.aba.model.dto.MapFiltersDto" />
		<typeAlias alias="RequestFilterDto" type="com.abacorp.aba.model.dto.RequestFilterDto" />
		<typeAlias alias="UserFilterDto" type="com.abacorp.aba.model.dto.UserFilterDto" />

		<typeAlias alias="Package" type="com.abacorp.aba.model.Package" />
		<typeAlias alias="Payment" type="com.abacorp.aba.model.Payment" />
		<typeAlias alias="PointHistory" type="com.abacorp.aba.model.PointHistory" />
	</typeAliases>

	<typeHandlers>
		<typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.DateTypeHandler" />
		<typeHandler javaType="java.sql.Time" handler="org.apache.ibatis.type.DateTypeHandler" />
		<typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler" />
	</typeHandlers>
</configuration>
