$borderColor: #f0f0f0;
$abaColor: #00adef;

@mixin input-group() {
  padding: 10px 15px;
  border: 3px solid $abaColor !important;
  border-radius: 1em;
  font-size: 1rem;
  position: relative;
}

button {
  @include input-group;

  &.reverse {
    color: #fff !important;
    background: $abaColor;

    &:hover {
      color: $abaColor !important;
      background: #fff;
    }
  }

  &:hover {
    color: #fff !important;
    background: $abaColor;
  }
}

input[type="text"] {
  @include input-group
}

.full-left-box {
  width: 10%;
  border-right: 3px solid $borderColor;

  .left-header {
    text-align: center;
    font-size: 1.5rem;
    padding: 25px 0;
    border-bottom: 3px solid $borderColor;
  }

  .left-nav {
    li {
      padding: 12.5px 20px !important;
    }
  }
}

.full-right-box {
  padding: 1%;
  box-sizing: border-box;
  width: calc(90% - 3px);

  .right-header {
    padding: 10px 0;
    font-size: 1.5rem;

    .btn-group {
      padding: 20px 0;

      .search {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 25%
      }
    }

    .mini-header {
      font-size: .8rem;
      font-weight: 800;
      padding-left: 5px;
      color: gray;
    }
  }

  .right-content {
    height: calc(92.5% - 71px);
  }
}

.box {
  padding: 3%;

  header {
    font-size: 1vw;
  }

  .box-content {
    padding: 30px 20px 0 20px;

    label {
      font-size: .8vw;
      display: inline-block;
      min-width: 100px;
      padding-right: 20px;
    }

    .row {
      padding-bottom: 20px;

      span {
        text-align: center;
      }
    }
  }
}
