@import "../mixin/mixin";

.content-wrap, .content-left, .content-right { @include h-full }

.rank {
  padding: 2px 8px;
  border-radius: 100%;
  font-weight: 800;
}

.d-mark {
  background-color: $diaColor;
}

.d-label {
  color: $diaColor;
}

.content {
  padding: 2% 0;
  margin: 2% 0;
}

.panel {
  padding: 5%;
}

.frame {
  padding: 2.5%;
}

.content-wrap {
  display: inline-flex;
  background: #fafafa;
  width: 100%;

  .content-left {
    @include content(center, 25%);
    border-right: 1px solid lightgray;
  }

  .content-right {
    @include content(center, 75%);
  }
}
