@import "../mixin/mixin";

.box {
  padding: 4%;
}

.box-left {
  @include flex-align(left, 50%);
}

.box-right {
  @include flex-align(flex-end, 50%);
}

/* Content Left */
.user-box, .point-box {
  @include border-radius(1px solid $borderColor)
}

.user-box {
  display: inline-flex;
  width: 100%;

  .avatar {
    @include content(inherit, 60%);

    img {
      width: 100%;
    }
  }

  .profile {
    @include content(inherit, 40%);
  }
}

.point-box {
  display: flex;

  .point {
    @include fontsize-color(1.5rem)
  }

  span {
    padding: 0 10px;
  }

  i {
    background: $abaColor;
    color: white;
    font-size: 1.5rem;
    padding: 5px 8px;
    border-radius: 100%;
  }
}

/* Content Right */
.content-right {
  .dashboard-box {
    @include border-radius(1px solid $borderColor);
    margin: 0 5% auto;
    @include flex-align(center);

    & li {
      padding: 0 20px;
      width: 20%;

      .category {
        @include fontsize-color(1.25rem)
      }

      &.b-r {
        border-right: 1px solid $abaColor;
      }
    }
  }

  .label {
    border-bottom: 1px solid $borderColor;
    margin-bottom: 0;

    .label-wrap {
      @include flex-align(left, 50%, 1.5rem);
    }
  }

  .activity {
    li {
      display: flex;
      padding: 1.5%;
      margin: 5px;
      border-bottom: 1px solid $borderColor;

      &.none {
        height: 25%;

        & p {
          justify-content: center;
          font-size: 1.5rem;
        }
      }
    }
  }
}
