@import "../mixin/mixin";

.box {
  padding: 4%;
}

/* Content Left */
.user-box {
  @include border-radius(1px solid $borderColor)
}

.user-box {
  display: inline-flex;
  width: 100%;

  .avatar {
    @include content(inherit, 60%);

    img {
      width: 100%;
    }
  }

  .profile {
    @include content(inherit, 40%);
  }
}

/* Content Right */
.content-right {
  .dashboard-box {
    @include border-radius(1px solid $borderColor);
    margin: 0 5% auto;
    @include flex-align(center);

    & li {
      padding: 0 20px;
      width: 20%;

      .category {
        @include fontsize-color(1.25rem)
      }

      &.b-r {
        border-right: 1px solid $abaColor;
      }
    }
  }
}
