/* header */
#header {
    position: absolute;
    width: 100%;
    height: 8rem;
    z-index: 500;
}

/* 로고 */
#header .logo {
    width: 100%;
}

.logo img {
    padding: 2.5rem 0 0 7.5rem;
}

/* 로그인 회원가입 */
#header .login {
    float: right;
    width: 10%;
    height: 30%;
    padding: 4rem 5.5rem 0 0;
}

#header .login .nav {
    font-size:1.41em;
    color: #ccc;
}

#header .login .nav:hover {
    font-weight: 900;
}

/* 메인 메뉴*/
.menu {
    display: inline-block;
    float: right;
    width: auto;
    height: auto;
    padding: 40px 30px;
}

.menu li {
    width: auto;
    padding: 0 1.25rem 1.25rem 1.25rem;
    text-align: center;
    display: unset;
}

.menu li:last-child {
    padding-right: 0px;
}

.menu > li a {
    font-size: 20px;
    text-align: center;
    color: #ccc;
}

.menu > li:hover {
    border-bottom: 9px solid #00adef;
}

.menu > li.on {
    border-bottom: 9px solid #00adef;
}

.menu > li:hover a {
    color: #00adef;
    font-weight: 800;
    font-size: 20px;
}

/* 매물 서브메뉴 */
.menu > li .sub {
    position: absolute;
    top: 100%;
    right: 20%;
    width: 25%;
    height: auto;
    z-index: 1000;
    background-color: #121922;
}

.menu > li .sub li {
    float: left;
    width: 18%;
    padding-top: 1.25rem;
    line-height: 2.09rem;
}

.menu > li .sub li a {
    display: block;
    font-size: 1.25rem;
    color: #fff;
}

.menu > li .sub li a:hover {
    color: #00adef;
}
