@font-face {
    font-family: s-core-dream-regular;
    src: url("/css/s-Core-Dream-light");
}

#wrap {
    width: 100%;
}

#contents {
    width: 100%;
}

#contents #con-box {
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
}

#con-box .login-name {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3%;
    border-bottom: 3px solid #00adef;
}

.login-name h3 {
    font-size: 27px;
    font-family: s-core-dream-regular;
    padding-left: 2%;
}

#con-box .box {
    width: 75%;
    margin: 0 auto;
    margin-top: 8%;
}

.box .id-pw {
    width: 86%;
    margin: 0 auto;
}

.id-pw .id {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #ccc;
    padding: 1% 0 0 2%;
}

.id-pw .pw {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #ccc;
    padding: 1% 0 0 2%;
    margin-top: 2%;
}

.box .check-box {
    color: black;
    width: 100%;
}

.check-box .login-save {
    margin-right: 3px;
    font-size: 12px;
}

.check-box .auto-login {
    margin-left: 20px;
}

.box .login-button {
    width: 88%;
    margin: 5% 0 0 7%;
    border: 0px;
    border-radius: 8px;
    padding: 2.5% 0 2.5% 0;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    background-color: #00adef;

}

.box .nav-box {
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
}

.nav-box .join {
    font-size: 12px;
    color: #777;
}

.nav-box .join button {
    border: 0px;
    background-color: #333;
    font-size: 11px;
    color: #ccc;
    padding: 1% 2% 1% 2%;
}

.nav-box .find {
    font-size: 12px;
    color: #777;
    margin-top: 2%;
}

.nav-box .find .id-find {
    border: 0px;
    background-color: #333;
    font-size: 11px;
    color: #ccc;
    padding: 1% 2% 1% 2%;
}

.nav-box .find .pw-find {
    margin-left: 2px;
    border: 0px;
    background-color: #333;
    font-size: 11px;
    color: #ccc;
    padding: 1% 2% 1% 2%;
}

/**/
.error {
    width: 100%;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    color: #00adef;
    margin: 25px 0;
}

.join, .find {
    display: flex;
    align-items: center;
}

.join > h3,
.find > h3 {
    width: 50%;
}

.join > button,
.id-find,
.pw-find {
    float: left;
    margin-right: 2.5px;
}
