@charset "utf-8";
@import url("S-Core-Dream-light/s-core-dream.css");

#wrap {
    width: 100%;
}

/*공지사항*/
#notice-con {
    width: 100%;
}

#notice-con .contents {
    width: 62%;
    margin: 0 auto;
}

.contents .head {
    width: 19%;
}

.head .line {
    width: 42%;
    border: 5px solid #00adef;
}

.head h2 {
    font-size: 3.08rem;
    font-family: s-core-dream-regular;
    padding: 15%;
}

.contents .con-in {
    width: 100%;
    padding-top: 5%;
}

.con-in .in01 {
    width: 100%;
    border-bottom: 2px solid #666;
}

.in01 h4 {
    font-size: 1.5rem;
    color: #666;
    font-family: s-core-dream-regular;
    padding: 0 0 1% 3.5%;
}

.in01 h3 {
    font-size: 1.833rem;
    color: #000;
    font-family: s-core-dream-regular;
    padding: 0 0 1% 3.5%;
}

.in01 p {
    font-size: 1.34rem;
    color: #666;
    font-family: s-core-dream-regular;
    padding: 0 0 3.5% 3.5%;
}

.con-in .in02 {
    width: 80%;
    padding-top: 5%;


}

.con-in .in02 p {
    font-size: 1.5rem;
    padding: 9% 0 9% 10%;
    line-height: 32px;
}

.contents .back-btn {
    padding-top: 11%;
}

.back-btn img {
    width: 11%;
}
