/*1600px반응형*/

@media screen and (max-width: 1620px){

    /* header */
    #header {
        position: absolute;
        width: 100%;
        height: 8rem;
        z-index: 500;
    }

    /* 로고 */
    #header .logo {
        width: 100%;
    }

    .logo img {
        width:9%;
        padding: 2.5rem 0 0 7rem;
    }

    /* 로그인 회원가입 */
    #header .login {
        float: right;
        width: 10%;
        height: 30%;
        padding: 4rem 4rem 0 0;
    }

    #header .login .filter {
        font-size:1.08em;
        color: #ccc;
    }

    #header .login .filter:hover {
        font-weight: 900;
    }


    /* 메인 메뉴*/
    .menu {
        float: right;
        width:22%;
        height: auto;
        padding-top: 3.75rem;
        margin-right: 1rem;
    }

    .menu li {
        float: left;
        width: 25%;
        padding: 0 1.25rem 1.25rem 1.25rem;
        text-align: center;
    }

    .menu li:last-child {
        padding-right: 0px;
    }

    .menu > li a {
        font-size:1.5em;
        text-align: center;
        color: #ccc;
    }

    .menu > li:hover {
        border-bottom: 9px solid #00adef;
    }

    .menu > li.on {
        border-bottom: 9px solid #00adef;
    }

    .menu > li:hover a {
        color: #00adef;
        font-weight: 800;
        font-size:1.5em;
    }

    /* 매물 서브메뉴 */
    .menu > li .sub {
        position: absolute;
        top: 100%;
        right: 20%;
        width: 22%;
        height: auto;
        z-index: 1000;
        background-color: #121922;
    }

    .menu > li .sub li {
        float: left;
        width: 23%;
        padding-top: 1.25rem;
        line-height: 2.09rem;
    }

    .menu > li .sub li a {
        display: block;
        font-size: 1.25rem;
        color: #fff;
    }

    .menu > li .sub li a:hover {
        color: #00adef;
    }

    /* 메인이미지 */
    #main_img {
        position: relative;
        width: 100%;
        height: 750px;
        background: url(/web-resources/img/company_main.jpg) no-repeat 50% 0;
    }

    #main_img .txt-box {
        width:48%;
        height: 30%;
        margin: 0 auto;
        padding-top:20%;
        text-align: center;
    }

    .txt-box h3 {
        font-size:5rem;
        font-weight: 900;
        color: #00adef;
        font-family: s-core-dream-black;
        line-height:128%;
    }

    .txt-box p {
        font-size:2rem;
        color: #fff;
        font-family: s-core-dream-regular;
        padding-top:5%;
    }

    /* 회사소개 */
    #contents01 {
        position: relative;
        width: 100%;
        padding-bottom:9%;
    }

    #contents01 .txt_box {
        width: 50%;
        margin: 0 auto;
        padding-top: 7%;
        z-index:10000;
        text-align: center;
    }

    .txt_box h3 {
        font-size:3.5rem;
        font-family: s-core-dream-extrabold;
        color: #00adef;
    }

    .box_in img {
        float: left;
        width:5.2%;
    }

    .box_in p {
        font-size:1.75rem;
        font-weight: 700;
        line-height:1.5em;
        color: #333;
        padding-top:3%;
    }


    /* 회사연혁*/
    #history {
        position: relative;
        width: 100%;
        padding-bottom:6%;
        background-color: #00adef;
    }

    #history .in {
        width:88%;
        margin: 0 auto;
        text-align: center;
        padding-top:7%;
    }

    .in h3 {
        font-size:3.5rem;
        font-family: s-core-dream-extrabold;
        color: #fff;
    }

    .in .graph {
        width:67%;
        padding-top:6%;
    }

    /* 회사연혁 텍스트 01 */
    .txt .txt01 {
        position: absolute;
        top: 47%;
        left:28%;
    }

    .txt .txt01 h4 {
        font-size:1.8rem;
        color: #fff;
    }

    .txt .txt01 p {
        font-size:1.45rem;
        font-weight: 600;
        color: #fff;
    }

    /* 회사연혁 텍스트 02 */
    .txt .txt02 {
        position: absolute;
        top:72%;
        left:46%;
    }

    .txt .txt02 h4 {
        font-size:1.8rem;
        color: #fff;
    }

    .txt .txt02 p {
        font-size:1.45rem;
        font-weight: 600;
        color: #fff;
    }

    /* 회사연혁 텍스트 03 */
    .txt .txt03 {
        position: absolute;
        top: 47%;
        left:64%;
    }

    .txt .txt03 h4 {
        font-size:1.8rem;
        color: #fff;
    }

    .txt .txt03 p {
        font-size:1.45rem;
        font-weight: 600;
        color: #fff;
    }

    /* 서비스 */
    .service_in h3 {
        font-size:3.5rem;
        font-family: s-core-dream-extrabold;
        color: #00adef;
        padding-top:15%;
    }

    .service_in img {
        width:57%;
        margin-top:15%;
    }

    #service .in_txt {
        width:88%;
    }

    .in_txt .txt01 {
        position: absolute;
        top:35%;
        left:62%;
    }

    /* ---\컨텍트--------------*/
    #contact{
        width:100%;

    }

    #contact .contact_in{
        width:62%;
        margin:0 auto;
    }

    .contact_in .head{
        width:100%;
        font-size:3.5rem;
        font-family: s-core-dream-extrabold;
        color: #00adef;
        padding-top:9%;
        text-align: center;
    }

    .contact_in .info-box{
        width:100%;
        padding-top:8%;
    }

    .info-box .text-box{
        float:left;
        width:42%;
        padding-left:5%;
        padding-top:3%;

    }

    .text-box .filter-wrap h5{
        font-size:1.7rem;
        padding:3% 0 2% 3%;
        font-family: s-core-dream-extrabold

    }
    .text-box .filter-wrap p{
        font-size:1.2rem;
        font-weight:600;
        padding-left:5%;
    }

    .text-box .box02{
        font-size:1.2rem;
        font-weight:600;
        padding:12% 0 0 3%;
    }

    .text-box .box03{
        width:80%;
        padding-left:3%;
        padding-top:1.5%;
    }

    .box03 li{
        width:100%;
        height:2.5rem;
        padding-bottom:12%;
    }

    .box03 li h5{
        float:left;
        font-size:1.7rem;
        font-family: s-core-dream-extrabold
    }

    .box03 li p{
        float:left;
        font-size:1.5rem;
        font-weight:600;
        padding-left:4%;
    }

    .info-box .map img{
        width:85%;
    }
}

@media screen and (max-width: 1492px){

    /* 메인이미지 */
    #main_img {
        position: relative;
        width: 100%;
        height: 700px;
        background: url(/web-resources/img/company_main.jpg) no-repeat 50% 0;
    }

    #main_img .txt-box {
        width:48%;
        margin: 0 auto;
        padding-top:22%;
        text-align: center;
    }

    .txt-box h3 {
        font-size:4rem;
        font-weight: 900;
        color: #00adef;
        font-family: s-core-dream-black;
        line-height:128%;
    }

    .txt-box p {
        font-size:1.6rem;
        color: #fff;
        font-family: s-core-dream-regular;
        padding-top:3%;
    }

    /* 회사소개 */
    #contents01 {
        position: relative;
        width: 100%;
        padding-bottom:8%;
    }

    /* ---\컨텍트--------------*/


    #contact .contact_in{
        width:68%;
        margin:0 auto;
    }


    .info-box .text-box{
        float:left;
        width:42%;
        padding-left:3%;
        padding-top:3%;

    }

    .text-box .filter-wrap h5{
        font-size:1.7rem;
        padding:3% 0 2% 3%;
        font-family: s-core-dream-extrabold

    }
    .text-box .filter-wrap p{
        font-size:1.2rem;
        font-weight:600;
        padding-left:5%;
    }

    .text-box .box02{
        font-size:1.2rem;
        font-weight:600;
        padding:12% 0 0 3%;
    }

    .text-box .box03{
        width:80%;
        padding-left:3%;
        padding-top:1.5%;
    }

    .box03 li{
        width:100%;
        height:2.5rem;
        padding-bottom:12%;
    }

    .box03 li h5{
        float:left;
        font-size:1.7rem;
        font-family: s-core-dream-extrabold
    }

    .box03 li p{
        float:left;
        font-size:1.5rem;
        font-weight:600;
        padding-left:4%;
    }

    .info-box .map{
        float:right;
        margin-top:2%;
    }

    .info-box .map img{
        width:80%;
    }
}

@media screen and (max-width: 1420px){

    /* 회사소개 */

    .box_in img {
        float: left;
        width:5%;
    }

    .box_in p {
        font-size:1.5rem;
        font-weight: 700;
        line-height:1.5em;
        color: #333;
        padding-top:3%;
    }
}

@media screen and (max-width: 1200px){
    /* 회사소개 */
    #contents01 {
        position: relative;
        width: 100%;
        padding-bottom:8%;
    }

    #contents01 .txt_box {
        width: 50%;
        margin: 0 auto;
        padding-top: 7%;
        z-index:10000;
        text-align: center;
    }

    .txt_box h3 {
        font-size:3.3rem;
        font-family: s-core-dream-extrabold;
        color: #00adef;
    }

    .box_in img {
        float: left;
        width:5%;
    }

    .box_in p {
        font-size:1.5rem;
        font-weight: 700;
        line-height:1.5em;
        color: #333;
        padding-top:3%;
    }
}
