@charset "utf-8";
@import url("/web-resources/font/S-Core-Dream-light/s-core-dream.css");

@keyframes go {
    0% {
        transform: translate(0px, 15px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

/* CSS Document */
* {
    margin: 0;
    padding: 0;
    font-family: s-core-dream-regular;
    font-weight: 300;
}

/* signature */
.aba { color: #00adef; font-weight: bold; }

.box {
    border: 1px solid lightgrey;
    border-radius: 15px;
}

.c-pointer { cursor: pointer !important; }

/* padding, width, height .. */
.p-0 { padding: 0 !important; }
.p-1 { padding: 1% !important; }
.p-3 { padding: 3% !important; }
.pt-0 { padding-top: 0% !important; }
.pt-1 { padding-top: 1% !important; }
.pt-3 { padding-top: 3% !important; }
.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: 1% !important; }
.pl-1 { padding-left: 1% !important;}
.pl-0 { padding-left: 0 !important;}
.pl-3 { padding-left: 3% !important;}
.px-3 { padding: 0 3% !important;}

.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 1% !important; }
.mr-1 { margin-right: 1% !important; }
.my-1 { margin: 1% 0 !important; }
.my-3 { margin: 3% 0 !important; }
.m-auto { margin: 0 auto; !important; }

.w-full { width: 100% !important; }
.w-half { width: 50% !important; }
.w-75 { width: 75% !important; }
.w-65 { width: 65% !important; }
.w-45 { width: 45% !important; }
.w-35 { width: 35% !important; }
.w-25 { width: 25% !important; }
.w-10 { width: 10% !important;}

.h-auto { height: auto !important; }
.h-full { height: 100% !important; }
.h-half { height: 50% !important; }

.b-0 { border: 0 !important; }

.block { display: block !important; }
.inline { display: inline-block !important; }
.in-flex { display: inline-flex !important; }
.flex { display: flex !important; }

.fl { float: left !important;}
.fr { float: right !important;}

.f-c { display: inline-flex !important; justify-content: center; align-items: center; }
.f-l { display: inline-flex !important; justify-content: start; align-items: center; }

.align-right { text-align: right !important; }
.align-center { text-align: center !important; }
.align-left { text-align: left !important; }
.item-center { align-items: center !important; }
.flex-center { justify-content: center !important; }
.flex-end { justify-content: flex-end !important; }

.relative { position: relative !important; }

/* font */
.txt-xl { font-size: 2.5rem !important; }
.txt-lg { font-size: 1.35rem !important; }
.txt-md { font-size: 1.225rem !important; }
.txt-sm { font-size: 1rem !important; }

.header.mini { color: gray; font-size: 22px; }

/* Tag css */
body { font-size: 14px; color: #000; min-width: 1334px; }

*::-webkit-scrollbar {
     width: 17.5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #00adef;
    opacity: .5;
    border-radius: 12.5px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

*::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    border-radius: 12.5px;
    box-shadow: inset 0 0 5px white;
}

img { border: 0; }
ul, li { list-style: none; }
li { cursor: pointer; }
a { text-decoration: none; color: #333; }
button { cursor: pointer; background: none; border: none; }
h1, h2, h3, h4 { width: 100%; }
span { display: inline-block; }
.fa, .far, .fas { font-family: "Font Awesome 5 Free" !important; font-weight: 700 !important; }

/* Custom */

input:focus, button:focus { outline: none; }
input::placeholder { color: #00adef; font-weight: 500; font-size: 15px; }
input:read-only { background: #fafafa; cursor: auto; }
input { font-weight: 800; font-size: 15px;}

.overlay {
    z-index: 3;
    position: fixed;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background-color: white;
    opacity: .2;
}

.main-container {
    border-top: 1px solid #777;
    padding: 5% 0;
    min-height: 32.9%;
}

.main-container.p-0 {
    padding: 0 !important;
}

.container-wrap {
    width: 80%;
    margin: 0 auto;
    /*height: 100%;*/
}

.content-name {
    padding-bottom: 3%;
    border-bottom: 3px solid #00adef;
}

.go-top {
    position: fixed;
    bottom: 100px;
    right: 100px;
    cursor: pointer;
    animation-name: go;
    animation-delay: 0s;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.go-top i {
    color: #00adef;
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    body { min-width: 320px }
    .main-container { overflow: hidden; }

    header {
        max-width: unset !important;
        margin: unset !important;
    }

    header .menu {
        display: none;
    }

    .nav-m-b {
        display: flex;
        z-index: 50;
        background-color: #fff;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .nav-m-b a {
        border-top: 1.2px solid #ddd;
        background-size: 20px!important;
        width: 30%;
        float: left;
        display: block;
        color: #222;
        text-align: center;
        padding: 14px 15px;
        text-decoration: none;
        font-size: 3.3vw;
    }

    .nav-m-b a.active {
        background: #00b3ff;
        color: #fff;
    }
}
