@import "mixin/mixin";

.ui-slider {
  background: #d3d3d3 !important;
  opacity: 0.7 !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border: 0 !important;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.4em !important;
}

.ui-slider .ui-slider-handle {
  width: 1.5em !important;
  height: 1.5em !important;
  background: $abaColor !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  font-weight: normal;
  color: #555555;
  border-radius: 25px;
}

.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: $abaColor !important;
  opacity: .5;
  color: #222222;
  font-weight: bold;
}

.ui-slider-tick-mark {
  display: inline-block;
  width: 1px;
  background: black;
  height: 5px;
  position: absolute;
  top: 15px;

  h5 {
    font-size: 0.25rem;
    color: gray;
    position: absolute;
    top: 10px;
    left: -8px;
    width: max-content;

    &.thous {
      left: -10px;
    }
  }
}

.ui-dialog-titlebar {
  background: $abaColor !important;
  color: #fff !important;
}

.select-box {
  cursor: pointer;
  position: relative;
  height: 40px;
  border: 1px solid #d7dbe2;
  background-color: rgba(235, 238, 242, 0.4);
  padding: 5px 10px;
  display: block;
  font-size: 18px;
  letter-spacing: -1px;
  color: #888;
  line-height: 2.5rem;

  .icon {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

#pyeong-dialog,
#room-dialog {
  text-align: center;
  font-size: 1.1rem;

  li {
    padding: 15px 5px;
    border-bottom: 1px solid gainsboro;

    &:hover {
      background: lightgrey;
      opacity: .5;
    }
  }
}
