@charset "UTF-8";
/* Collapse */
.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
}
.collapsible:after {
  content: "+";
  color: white;
  font-weight: bold;
  margin-left: 5px;
}
.collapsible.active:after {
  content: "−";
}

.filter-detail {
  position: absolute;
  z-index: 20;
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  user-select: none;
  border-color: #bbbbbb;
  border-image: initial;
  border-radius: 3px;
}

/* Input invalid */
.invalid {
  color: red !important;
}
.invalid.b-1r {
  border: 1px solid red !important;
}
.invalid .aba {
  color: red;
}

.error-box {
  position: fixed;
  right: 18%;
}

/* Checkbox */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4% 0;
}
.checkbox-container li.absolute {
  position: absolute;
  top: 1%;
  right: 5%;
}
.checkbox-container.agree {
  padding: 6% 0;
}
.checkbox-container.form {
  padding-left: 5%;
}
.checkbox-container.form li {
  width: 30%;
}
.checkbox-container.form li.half {
  width: 17%;
}
.checkbox-container .checkbox-list {
  width: 22%;
  display: flex;
  margin: 0.25rem;
  letter-spacing: -0.05em;
}
.checkbox-container .check {
  display: none;
}
.checkbox-container .check:checked + label {
  color: #00adef;
  border: 1px solid #00adef;
}
.checkbox-container .check + label {
  padding: 0.5rem 0.25rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* Scroll Bar */
@media screen and (max-width: 768px) {
  .checkbox-container.form {
    padding-left: 0 !important;
  }
}
/* Tier */
/* Slider */
.custom-slider {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00adef;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00adef;
  cursor: pointer;
}

datalist {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
}

datalist option {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 0;
  background: #D3D3D3;
}

/**
    Size of `detail-container` per number of filters
 */
.detail-container.offer-type {
  width: 300px;
  height: 250px;
}
.detail-container.deal {
  width: 200px;
  height: 150px;
}
.detail-container.request {
  width: 300px;
  height: auto;
}
.detail-container.all {
  width: 990px;
  height: auto;
  display: inline-block;
  position: relative;
}
.detail-container .detail-wrap {
  padding: 1%;
  width: 31%;
  display: inline-block;
}

/**
    Filter-bar area
 */
.filter-bar {
  height: 60px;
  border-bottom: 1px solid lightblue;
}
.filter-bar .filter-group {
  display: flex;
  height: 100%;
  padding: 0px 30px;
}
.filter-bar .filter-group li {
  align-self: center;
}
.filter-bar .filter-group li a {
  position: relative;
  border-radius: 22px;
  color: #fff;
  font-size: 1vw;
  text-align: center;
  background: #00adef;
  padding: 12.5px 35px;
  margin-right: 8.5px;
}
.filter-bar .filter-group li a span {
  position: absolute;
  right: 15px;
  top: 15px;
}
.filter-bar .filter-group li a:hover, .filter-bar .filter-group li a.active {
  background: white;
  border: 1px solid #00adef;
  color: #00adef;
}
.filter-bar .filter-group li a:hover.collapsible:after, .filter-bar .filter-group li a.active.collapsible:after {
  background: white;
  color: #00adef;
}

/**
    Filter-detail common
 */
.filter-detail {
  color: black;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 18px -10px;
}
.filter-detail .detail-container {
  padding: 25px 35px 0px;
}
.filter-detail .detail-header {
  width: 100%;
  height: 70px;
  line-height: 30px;
}
.filter-detail .detail-header.h-half {
  height: 30px !important;
}
.filter-detail .detail-header .title {
  color: #00adef;
  font-size: 20px;
}
.filter-detail .detail-header .caption {
  color: darkgray;
  font-size: 14px;
  text-indent: 5px;
}
.filter-detail .detail-header .caption.slide {
  color: black;
  float: right;
}

@media screen and (max-width: 768px) {
  .filter-bar,
.list-header,
.request.info {
    width: 100vw !important;
    margin-left: calc(-50vw + 50%);
  }

  .filter-group {
    padding: 0 !important;
    justify-content: center;
  }
  .filter-group li {
    font-size: 4vw;
  }

  .filter-detail {
    left: 7.5%;
    width: 85%;
    box-sizing: border-box;
  }
  .filter-detail .detail-container {
    box-sizing: border-box;
    padding: 25px 15px 0;
    margin: 0;
  }
  .filter-detail .detail-container .checkbox-container {
    width: 85vw;
    box-sizing: border-box;
    margin-left: calc(-42.5vw + 50%);
  }
  .filter-detail .detail-container .request {
    width: unset;
  }

  .filter-el {
    text-align: center;
    padding: 0 5px;
  }
  .filter-el a {
    font-size: 3vw !important;
    padding: 10px 12.5px !important;
    margin-right: 0 !important;
  }
}

/*# sourceMappingURL=filter-bar.css.map */
