@import "../component/collapsibles", "../component/custom", "../component/slider";

$abaColor: #00adef;

/**
    Size of `detail-container` per number of filters
 */
.detail-container {
  &.offer-type { width: 300px; height: 250px; }
  &.deal { width: 200px; height: 150px; }
  &.request { width: 300px; height: auto; }
  &.all { width: 990px; height: auto; display: inline-block; position: relative; }

  .detail-wrap { padding: 1%; width: 31%; display: inline-block; }
}

/**
    Filter-bar area
 */
.filter-bar {
  height: 60px;
  border-bottom: 1px solid lightblue;

  .filter-group {
    display: flex;
    height: 100%;
    padding: 0px 30px;

    li {
      align-self: center;

      & a {
        position: relative;
        border-radius: 22px;
        color: #fff;
        font-size: .8vw;
        text-align: center;
        background: $abaColor;
        padding: 12.5px 35px;
        margin-right: 8.5px;

        span {
          position: absolute;
          right: 15px;
          top: 15px;
        }

        &:hover,
        &.active {
          background: white;
          border: 1px solid $abaColor;
          color: $abaColor;

          &.collapsible:after {
            background: white;
            color: $abaColor;
          }
        }
      }
    }
  }
}

/**
    Filter-detail common
 */
.filter-detail {
  color: black;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 18px -10px;

  .detail-container {
    padding: 25px 35px 0px;
  }

  .detail-header {
    width: 100%;
    height: 70px;
    line-height: 30px;

    &.h-half {
      height: 30px !important;
    }

    .title {
      color: $abaColor;
      font-size: 20px;
    }

    .caption {
      color: darkgray;
      font-size: 14px;
      text-indent: 5px;

      &.slide {
        color: black;
        float: right;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .filter-bar,
  .list-header,
  .request.info {
    width: 100vw !important;
    margin-left: calc(-50vw + 50%);
  }

  .filter-group {
    padding: 0 !important;
    justify-content: center;

    li {
      font-size: 4vw;
    }
  }

  .filter-detail {
    left: 7.5%;
    width: 85%;
    box-sizing: border-box;

    .detail-container {
      box-sizing: border-box;
      padding: 25px 15px 0;
      margin: 0;

      .checkbox-container {
        width: 85vw;
        box-sizing: border-box;
        margin-left: calc(-42.5vw + 50%);
      }

      .request {
        width: unset;
      }
    }
  }

  .filter-el {
    text-align: center;
    padding: 0 5px;

    a {
      font-size: 3vw !important;
      padding: 10px 12.5px !important;
      margin-right: 0 !important;
    }
  }
}
