@import "/post";

#wrap {
  width: 100%;
  height: 100%;
}

.main-header {
  position: relative;

  .title {
    width: max-content !important;

    h2 {
      padding-top: 2vh;
    }
  }

  a {
    position: fixed;
    top: 22vh;
    cursor: pointer;

    img {
      width: 50px;
    }

    &:hover {
      zoom: 1.05;
    }

    &.prev {
      left: 15%;
    }

    &.next {
      right: 15%;
    }
  }
}

.main-content {
  padding: 5% 20%;
  font-size: 1.25rem;
  line-height: 2rem;
}
