@import "mixin/mixin";

.left-navbar {
  position: fixed;
  text-align: center;
  left: 12.5%;
  top: 10%;

  & .active {
    background: $abaColor;
    font-weight: bold;
    color: white;
    border: none;
  }
}

.nav-left {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 40px 20px;
  margin: 100px 0;
  background: #fff;
  border: 1px solid gray;
  border-radius: 100%;
  cursor: pointer;
  animation-name: go;
  animation-delay: 0s;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;

  &:hover {
    background: white;
    border: 1px solid $abaColor;
    color: $abaColor;
  }
}

.bottom-navbar {
  position: fixed;
  bottom: 5%;
  cursor: pointer;

  &.prev {
    left: 20vw;
  }

  &.next,
  &.submit {
    right: 20vw;
  }
}

.nav-bottom {
  color: #000 !important;

  &:hover {
    color: $abaColor;
  }
}

.offer-thumbnail {
  padding: 1.5%;
  border: 3px solid $abaColor;
  border-radius: 15px;
}

.thumb-label {
  padding: 5%;
  border-radius: 30px;
  background: $abaColor;
  color: #fff;
  position: absolute;
  left: -10px;
  top: -20px;
}
